html, body {
  background-color: #000000;

  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  font-family: Roboto, Arial, Sans-serif;
  color: #FFFFFF;
  font-size: 100px;
  -webkit-font-smoothing: antialiased;
}

.top {
  position: absolute;
  top: 50px;
}

.vcenter {
  position: absolute;
  top: 50%;
  margin-top: -250px;
  margin-bottom: -250px;
}

.bottom {
  position: absolute;
  bottom: 50px;
}

.left {
  position: absolute;
  left: 50px;
}

.hcenter {
  position: absolute;
  left: 50px;
  right: 50px;

  text-align: center;
}

.right {
  position: absolute;
  right: 50px;
}

.widget-heading {
  font-size: 30%;
}

.widget-detail {
  font-size: 25%;
  color: #AAAAAA;
}
